@{
    ViewBag.Title = "CardOperations";
}

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-3">
        <h3>@Html.ActionLink("Balans", "Balans")</h3>
        <br />
        <h3>@Html.ActionLink("Withdraw money", "WithdrawMoney")</h3>
        <br />
        <h3>@Html.ActionLink("Exit", "CardNumber")</h3>
    </div>
</div>
