@using ATM_Interface.Models;
@model ATM_Interface.Models.Card

@{
    ViewBag.Title = "PINCode";
}

@Html.DisplayForModel();
<div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-3">
        <div class="PINCodeForm">
            <form action='@Url.Action("CheckPINCode", "Home")' method="post">
                @Html.DisplayNameFor(model => model.PIN)
                <div class="form-group">
                    <input class="inputPINCode" type="password" name="pinCode" id="pinCode" />
                </div>

                <div>
                    <input class="btn btn-primary" type="submit" onclick="CheckPINCode()" value="OK" />
                    <input class="btn btn-default" type="reset" value="Reset" />
                    @Html.ActionLink("Exit", "CardNumber");
                </div>
            </form>

            <div class="inputKeyboard">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Disable keyboard
    $(".inputPINCode").keydown(false);

    // Create "virtual" keyboard
    for (let i = 9; i >= 0; i--) {
        let html = "<button id='" + i + "' class='keyboardButtons'>" + i + "</button>";
        $(html).insertAfter('.inputKeyboard');
        html = "";
    }

    // Entering card number
    let $buttons = $(".keyboardButtons");

    $buttons.on('click', function (e) {
        $('.inputPINCode').val($('.inputPINCode').val() + this.id);
    });
</script>
