@using ATM_Interface.Models;
@model ATM_Interface.Models.Card

@{
    ViewBag.Title = "Withdraw money";
}

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-3">
        <form action='@Url.Action("WithdrawMoney", "Home")' method="post">
            <div class="form-group">
                <label>Enter sum for withdraw money:</label>
                <input type="number" name="withdrawMoney" />
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="OK" />
                <input class="btn btn-default" type="reset" value="Reset" />
                <input class="btn btn-danger" type="button" value="Exit" />
            </div>
            <h3>@Html.ActionLink("Back", "CardOperations")</h3>
        </form>
    </div>
</div>
